<template>

  <div class="auth">

    <div class="auth__form">
      <h4>Введите свое имя:</h4>

      <div class="input-group">
        <input type="text" class="form-control" v-model.trim="login">
        <span class="input-group-btn">
        <button class="btn btn-success" type="button" @click="auth()" :disabled="login == ''">Войти в чат</button>
      </span>
      </div>
    </div>

  </div>

</template>

<script>

  export default {
    props: [],
    data() {
      return {
        login: ''
      }
    },
    methods: {
      auth() {
        this.$root.$emit('auth', this.login)
      }
    }
  }

</script>

<style>

  .auth {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
  }

  .auth__form {
    width: 300px;
  }

</style>
