<template>
  <div>

    <h4>{{channel.title}}</h4>

    <div class="messages">
      <div v-if="channel.messages == null" class="messages--empty text-muted" >тут будут сообщения</div>
      <div v-else class="" v-for="message in channel.messages"><strong>{{message.user}}:</strong> {{message.content}}</div>
    </div>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Ваше сообщение в чат" v-model.trim="newMessage[channel.name]">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" @click="submit()" :disabled="newMessage[channel.name] == '' || newMessage[channel.name] == null">Отправить</button>
      </span>
    </div>

  </div>
</template>

<script>

  export default {
    props: ['channel'],
    data() {
      return {
        newMessage: {}
      }
    },
    methods: {
      submit() {
        this.$root.$emit('submit', this.channel.name, this.newMessage[this.channel.name]);
        this.newMessage[this.channel.name] = '';
      }
    }
  }

</script>

<style>
  .messages{
    min-height:400px;
    height:400px;
    padding: 10px;

    display: flex;
    flex-direction: column-reverse;

    overflow: scroll;
    overflow-x: hidden;
  }
  .messages--empty{
    text-align: center;
  }
</style>
