<template>

  <div>

    <div class="list-group">
      <h4 class="list-group-item list-group-item-success">Чаты</h4>
      <button class="btn btn-link list-group-item list-group-item-action" v-for="channel in channels"
              :class="active == channel.name ? 'active' : null"
              @click="change(channel.name)"
      >{{channel.title}}
      </button>

    </div>

    <div>{{user != null ? 'Ваш логин: ' + user : 'Вы не авторизированы'}}</div>

  </div>

</template>

<script>

  export default {
    props: ['user', 'channels', 'active'],
    methods:{
      change(name){
        this.$root.$emit('change', name)
      }
    }
  }

</script>
