<template>
  <div id="app" class="container">
    <br>
    <br>
    <div class="row">
      <div class="col-md-3">

        <chat-lists :user="user" :channels="channels" :active="active"></chat-lists>

      </div>
      <div class="col-md-7">

        <chat :channel="channel"></chat>

      </div>
    </div>

    <auth v-if="user == null"></auth>

  </div>
</template>

<script>
  import ChatLists from './components/ChatLists'
  import Chat from './components/Chat'
  import Auth from './components/Auth'
  import axios from 'axios'

  function sort(messages) {
    messages.sort(function (a, b) {
      if (a.id > b.id) {
        return -1;
      }
      if (a.id < b.id) {
        return 1;
      }
      return 0;
    });
  }

  function phpSender(login, message, channel) {
    axios.get('http://test-php-server.timetable.su/new.php', { //http://longpoll.com/new.php
      params: {
        login: login,
        message: message,
        channel: channel.name,
      },
    })
      .then(function (response) {
        console.log('На канале "' + channel.name + '" сообщение успешно отправлено');
      })
      .catch(function (error) {
        console.warn('Произошла не предвиденная ошибка на канале "' + channel.name + '". Подключение оборвано');
      });
  }

  function phpListener(login, channel) {
    axios.get('http://test-php-server.timetable.su/lp.php', { //http://longpoll.com/new.php
      timeout: 25000,
      params: {
        login: login,
        channel: channel.name,
        offset: channel.last
      },
    })
      .then(function (response) {
        if(response.data.type === 'no changes'){
          console.log('На канале "' + channel.name + '" не было изменений. Подключение обновлено');
          phpListener(login, channel);
          return;
        }
        if(channel.messages === null) channel.messages = [];
        channel.messages = channel.messages.concat(response.data);

        sort(channel.messages)
        channel.last = channel.messages[0].id + 1;
        console.log('На канале "' + channel.name + '" произошло обновление данных. Последний элемент: "' + (channel.last - 1) + '". Подключение обновлено');
        phpListener(login, channel)
      })
      .catch(function (error) {
        if (error.code = "ECONNABORTED") {
          console.warn('Время ожидания на канале "' + channel.name + '" вышло. Подключение обновлено');
          phpListener(login, channel)
        } else {
          console.warn('Произошла не предвиденная ошибка на канале "' + channel.name + '". Подключение оборвано');
          console.error(error);
          channel.error = error;
        }
      });
  }

  function webSocketListener(login, channel) {
    channel.socket = new WebSocket("ws://91.123.151.55:8080/SimpleWebSocketApplication/WebSocketHandler.ashx")
//    channel.socket = new WebSocket("ws://demos.kaazing.com/echo")

    channel.socket.onopen = (event) => {
      console.log('socket: open')
    };

    channel.socket.onmessage =  (event) => {
      console.log('socket: message ', event.data);
      let response = JSON.parse(event.data);
      channel.messages.unshift({user: response.login, content: response.message});
    };

    channel.socket.onerror = (event) => {
      console.log('socket: error ');
      console.log(event);
    };

    channel.socket.onclose =  (event) => {
      console.log('socket: close ', event.data);
    };
  }

  function webSocketSender(login, message, channel) {
    console.log('sended: ', message)
    channel.socket.send(JSON.stringify({login: login, message: message}))
//    channel.socket.send('test')
  }

  export default {
    name: 'app',
    components: {
      ChatLists,
      Chat,
      Auth
    },
    data() {
      return {
        user: null,
        channels: [
//          {
//            name: 'alpha',
//            title: 'php-чат "Альфа"',
//            listener: phpListener,
//            sender: phpSender,
//            messages: null,
//            last: 0,
//            error: null
//          },
          {
            name: 'beta',
            title: 'Чат на ВебСокетах',
            listener: webSocketListener,
            sender: webSocketSender,
            socket: null,
            messages: [],
            last: 0,
            error: null
          },
//          {
//            name: 'gamma',
//            title: 'Чат "Гамма"',
//            listener: phpListener,
//            sender: phpSender,
//            messages: null,
//            last: 0,
//            error: null
//          }
        ],
        active: 'beta'
      }
    },
    computed: {
      channel() {
        for (let index = 0, length = this.channels.length; this.channels[index]; index++) {
          if (this.channels[index]['name'] === this.active) {
            return index === length ? -1 : this.channels[index];
          }
        }
      }
    },
    created() {
      this.$root.$on('change', (name) => {
        this.active = name
      })

      this.$root.$on('submit', (channelName, newMessage) => {
        let channel = null;
        for (let index = 0, length = this.channels.length; this.channels[index]; index++) {
          if (this.channels[index]['name'] === channelName) {
            channel = index === length ? -1 : this.channels[index];
          }
        }

        channel.sender(this.user, newMessage, channel);
      })

      this.$root.$on('auth', (login) => {
        console.log('Логин: ' + login)
        this.channels.map(function (channel) {
          channel.listener(login, channel)

        })

        this.user = login
      })
    }
  }
</script>

<style lang="scss">
  $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
  @import "~bootstrap-sass/assets/stylesheets/bootstrap";
</style>
